iSearch_backend/iSearch_backend/indexdir/ir_index_name_9ib2rmpy7o7gfn7o.seg filter=lfs diff=lfs merge=lfs -text
iSearch_backend/iSearch_backend/QueryRewrite/model/word2vec.model.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
iSearch_backend/iSearch_backend/QueryRewrite/model/word2vec.model.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
